@import "../../variables.css";
.Slider_Home {
  height: var(--height-slider);
  width: 100%;
  background-image: linear-gradient(to right, #f7c261, #d69146);
}
.GoiY {
  background: var(--radial-gradient-yellow);
  padding-bottom: 50px;
}
.Tags {
  & ul {
    display: flex;
    list-style: none;
    justify-content: center;
    & .icon {
      font-size: 1.5rem;
      line-height: 40px;
      margin-right: 5px;
      color: #faaf4c;
    }
    & .Tag {
      margin-right: 40px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #797979;
      cursor: pointer;
    }
  }
  & .active {
    color: black !important;
    border-bottom: 4px solid #f8a539;
  }
}
.Btn_Login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 9rem;
  & p {
    margin: auto 0;
    width: 10rem;
    line-height: 4rem;
    border-radius: 35px;

    text-align: center;
    background-color: #f06135;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  & p:hover {
    background-color: #ff3c00;
    transition: all linear 0.1s;
  }
}

.gg_play {
  background-color: #d69146;
  & .img_large {
    width: 100%;
  }
  & .logo {
    display: flex;
    justify-content: center;

    & img {
      margin: 50px 0;
      width: 10rem;
      height: 10rem;
    }
  }
}
.News_goto {
  display: flex;
  color: #ffad56;
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
  & i {
    line-height: 24px;
    padding: 0 5px;
  }
  &:hover {
    color: #fc8200;
  }
}
.SanPham {
  padding-bottom: 40px;
  & .TinTuc {
    width: 75%;
    margin: 0 auto;
  }
}
.color_orange{
  color: #fcbd49;
  
}
.Search_Store {
  height: 400px;
  width: 100%;
  background-color: #f5f5f5;
  & i{
    line-height: 24px;
    padding: 0 10px;
  }
  & a:hover {
    color: #ff9419;
  }
  & .all_store{
    text-decoration: none;
  }
  & > div {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .filter_store {
    display: flex;
    justify-content: space-between;
  }
  & .input_store select {
    width: 100%;
    height: 3rem;
  }
}
@media screen and (max-width: 576px) {
  :root {
    --height-slider: 40vh;
  }
}
