@import "variables.css";
@media screen and (max-width:576px) {
    :root{
      --width-iteam_col:8.813rem !important;
    }
    .App .SanPhamTuNha{
         width: 100% ;
    }

 
    .App .Checkout_com{
        display: block;
    }
    .App .Checkout_com .checkout__body .body__Pay{
        margin:0 0  40px 0;
        
    }
    .App .Checkout_com .checkout__body .Total .thanhtien {
        padding: 20px 0;
    }
    .App .Header .Hearder__TilteName{
      display: none;
    }
    .App .homeIcon{
        visibility: visible;
        line-height:var(--height-header);
        font-size: 25px;
    }
    .App .Header .Header__User_Store {
        flex: 1 1;
        justify-content: center;
    }
    .App .Header .Header__User_Store div {
        margin: 0px 27px;
    }
   .MuiDialogContent-dividers .bodyDetails{
        display: block;
    }
    .MuiDialogContent-dividers  .bodyDetails .imgDetail img{
      display: block;
      width: 85%;
      margin: 0 auto;
      height: 252px;
    }
   
  }
  @media screen and (max-width:1024px) {
    #Nav_Link
    {
      display: none;
    }
     #Header_tran{
      display: none;
    }
    .App .Header .hamber{
        visibility: visible;
    }
    .App .Checkout_com .checkout__body {
      width: 93%;
      margin: 0 auto;
        display: block;
    }
  }